
h1, h2, h3, h4, a {
  color: #555;
  font-family: 'Lato', sans-serif; 
}

h2 {
  text-transform: uppercase;
}

p {
  font-family: 'Lato', sans-serif; 
  font-size: 18px;
  line-height: 1.75em;
  color: #777;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  padding: 0 25px;
  background: #f7f7f3;
}

header {
  text-align: center;
}

header img {
  margin-top: 4em;
}



header nav a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  line-height: 3em;
  background-color: #fff;
  margin-top: .4em;
  text-decoration: none;
  border-radius: 5px;
}



main {
  text-align: center;
}

section {
  padding: 2em;
}

section:nth-of-type(1) {
  background-color: #fff;
}

section:nth-of-type(2) {
  background-color: #dcf;
}

article img {
  width: 100%;
}

#skills ul {
  list-style: none;
  padding: 1em;
  text-align: center;
}

#skills ul li {
 display: inline-block;
 min-width: 60px;
 border-radius: 1em;
 padding: .25em;
 margin: 0 .25em;
 color: #fff;
 font-family: 'Lato', sans-serif; 
}

#skills ul li:nth-child(1) {
  background-color: rgb(199, 119, 28);
}

#skills ul li:nth-child(2) {
  background-color: #45a;
}

#skills ul li:nth-child(3) {
  background-color: rgb(196, 199, 80);
}

footer p {
  float: left;
  font-weight: 700;
}

footer a, footer nav {
  margin-top: 1em;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.75em;
}

footer nav {
  display: none;
}

@media screen and (min-width: 768px) {

  header nav a {
    display: inline-block;
    min-width: 125px;
    width: initial;
    background-color: initial;
  }

  header img {
    float: right;
    margin-bottom: 3em;
    max-width: 40%;
  }
  
  header p {
    width: 55%;
    float: left;
    margin: 3.25em 1%;
    text-align: left;
  }

  article {
    width: 49%;
    float: left;
    min-height: 425px;
  }

  article:nth-of-type(even) {
    margin-left: 2%;
  }

  #contact {
    max-width: 600px;
    margin: auto;
  }

  footer > a {
    display: none;
  }

  footer nav {
    display: block;
  }

  footer nav a {
    text-align: center;
    float: left;
    margin: 0;
    min-width: 100px;
  }
}


@media screen and (min-width: 1024px) {

  body {
    max-width: 1400px;
    margin: auto;
  }

  header {
    text-align: left;
  }

  header h1 {
    float: left;
  }

  header nav {
    float: right;
    text-align: center;
    margin: .67em 0;
  }

  article {
    width: 32%;
  }

  article:nth-of-type(even) {
    margin-left: initial;
  }

  article:nth-of-type(3n + 2),
  article:nth-of-type(3n + 3) {
    margin-left: 2%;
  }
}